body {
  padding-top: 50px;
}

.registration {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.list-group {
    word-wrap: break-word;
}

.list-group span.disabled h4 {
    text-decoration: line-through;
}
